
span2{
    color:white;
    background-color:rgb(114, 198, 219);
}

span3.pinkColor{
    color:rgb(255, 75, 135);
    font-family:Arial, Helvetica, sans-serif;
    font-size:24px;
}

#specificColor{
    color:rgb(197, 252, 252);
    font-family:verdana;
    font-size:24px;
}

#specificLink{
    color:rgba(81, 175, 18, 0.808);
    font-family:arial;
    font-size:20px;
}